.site-list {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.site-list__item {
  cursor: pointer;
  flex-grow: 1;
  min-width: 300px;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid @border;
  padding-top: 15px;

  a {

    color: @asphalt;

    &:hover,
    :active {
      color: @dark;
    }
  }

  .site-list__link--active {
    color: @dark;
  }


  &:first-child {
    border-top: 1px solid @border;

    @media (min-width: @tablet) {
      border: none;
    }
  }

  @media (min-width: @tablet) {
    border: none;
    min-width: 20px;
  }
}
