.user-about {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 58px;
}

.user-about__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}

.user-about__item {
  min-width: 256px;
  padding-left: 40px;
  height: 30px;
  box-sizing: border-box;
}


.user-about__checkbox {
  & + label {
    min-width: 100%;
    align-self: center;
    position: relative;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid @asphalt;
      border-radius: 30%;
      position: absolute;
      cursor: pointer;
      left: -30px;
      top: -2px;
    }
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -33px;
    top: -5px;
    cursor: pointer;
    background: url("../../img/Vector.svg") no-repeat center;
  }
}

