.user-form {
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    margin-bottom: 73px;
  }
}

.user-form__item {
  text-align: center;
  margin-top: 25px;
  display: flex;
  align-self: center;
  justify-self: center;

  &:nth-child(2) {
    position: relative;
    max-width: 320px;
    /*::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url(/source/img/Shape_2_copy.svg);
      top: 0;
    }*/
    @media (min-width: @tablet) {

    }

    .arrow {
      position: absolute;
      right: 10%;
      top: 45%;
      cursor: pointer;
    }
  }
}

.user-form__field {

  min-width: 300px;
  height: 60px;
  border: 1px solid @light-grey;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;

  @media (min-width: @tablet) {
    min-width: 520px;
  }
}

input[id="birthday-date"] {
  @media (min-width: @tablet) {
    min-width: 320px;
  }
}

input[id="calendar"] {
  min-width: 220px;

  @media (min-width: @tablet) {

  }
}


::-webkit-input-placeholder {
  color: @text-grey;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

::-moz-placeholder {
  color: @text-grey;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}/* Firefox 19+ */
:-moz-placeholder {
  color: @text-grey;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}/* Firefox 18- */
:-ms-input-placeholder {
  color: @text-grey;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.user-form__date {
  position: absolute;
  right: 25%;
  z-index: 2;
  justify-self: center;
  align-self: center;
  border: none;
  height: 40px;
}
