@dark:#1c1c1c;
@asphalt:#435993;
@border:#d9d9d9;
@light-grey:#e5e5e5;
@darken-grey:#CDCDCD;
@social-grey:#666666;

@text-grey:#c8c8c8;

@JS-text: #2e211c;

@border:#E7E7E7;
@special-dark-grey:#222222;
@tablet: 768px;
