@dark:#1c1c1c;
@asphalt:#435993;
@border:#d9d9d9;
@light-grey:#e5e5e5;
@darken-grey:#CDCDCD;
@social-grey:#666666;
@text-grey:#444444;
@nav-grey:#E6E6E6;
@border:#E7E7E7;
@special-dark-grey:#222222;
@tablet: 768px;
